**/*.DS_Store
oh-my-zsh/
vim/.netrwhist
*.swp
ranger/copy_buffer
ranger/history
vim/plugged
nvim/plugged
nvim/plugin/packer_compiled.lua
terminal/ghostty/config.local
macos/hammerspoon/Spoons
shell/plugins/*
sway/outputs
**/.mind
.resurrect
