[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = http://github.com/VundleVim/Vundle.vim.git
[submodule "shell/zsh-plugins/zsh-autosuggestions"]
	path = shell/zsh-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
