[submodule "vim/bundle/vim-airline"]
  path = vim/bundle/vim-airline
  url = https://github.com/bling/vim-airline
  ignore = dirty
[submodule "vim/bundle/YouCompleteMe"]
  path = vim/bundle/YouCompleteMe
  url = https://github.com/Valloric/YouCompleteMe.git
  ignore = dirty
[submodule "vim/bundle/vim-tmux-navigator"]
  path = vim/bundle/vim-tmux-navigator
  url = https://github.com/christoomey/vim-tmux-navigator.git
  ignore = dirty
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/bundle/Tagbar"]
  path = vim/bundle/Tagbar
  url = https://github.com/majutsushi/tagbar.git
  ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
  path = vim/bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git
  ignore = dirty
[submodule "vim/bundle/MatchTagAlways"]
  path = vim/bundle/MatchTagAlways
  url = https://github.com/Valloric/MatchTagAlways.git
  ignore = dirty
[submodule "vim/bundle/vim-better-whitespace"]
  path = vim/bundle/vim-better-whitespace
  url = https://github.com/ntpeters/vim-better-whitespace.git
  ignore = dirty
[submodule "vim/bundle/vim-airline-themes"]
  path = vim/bundle/vim-airline-themes
  url = https://github.com/vim-airline/vim-airline-themes
  ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
