/* Extensions button */
.toolbar-extensions svg path {
  d: path(
    'M10 13l3.634-3.634c.504-.504 1.366-.147 1.366.566v6.137c0 .713-.862 1.07-1.366.566l-3.634-3.634z'
  );
  opacity: 0.5;
}

/* Extensions popup button */
.toolbar-extensions .extensionPopupIcons svg path {
  d: path(
    'M 12.5 16 L 8.86568 12.3657 C 8.36171 11.8617 8.71865 11 9.43137 11 L 15.5686 11 C 16.2814 11 16.6383 11.8617 16.1343 12.3657 L 12.5 16 Z'
  );
}
/* Extensions button expanded*/
.toolbar-extensions
  .button-toolbar.ExtensionIcon--Hidden
  + .button-toolbar
  svg
  path {
  transform-origin: center;
  transform: scaleX(-1);
}

/* Extensions popup button expanded */
.toolbar-extensions .extensionPopupIcons .button-pressed svg path {
  transform-origin: center;
  transform: scaleY(-1);
}
